.actual-courses-cards{
    padding: 1rem 0 3rem;

    @include media-for (null, $sm){
        padding-bottom: 0;
    }

    .courses-cards{
        position: relative;
        display: block;
        padding: 30px 20px;
        padding-left: 192px;
        padding-top: 55px;
        border-radius: 30px;
        background-color: $text-white;
        overflow: hidden;
        box-shadow: 0  4px 15px 0 rgba($color: #000000, $alpha: .03);
        margin-bottom: 30px;

        // @include media-for (null, 1775px){
        //     padding: 30px 10px 5px 163px;
        // }

        @include media-for (null, 1601px){
            padding-bottom: 20px;
        }

        @include media-for (null, $sm){
            padding: 20px;
            padding-left: 147px;
            padding-bottom: 99px;
        }


        

        .img-wrap{
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-31%,11%);
            width: 260px;
            height: 260px;
            border-radius: 100%;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            // @include media-for (null, 1555px){
            //     transform: translate(-38%,20%);
            // }

            @include media-for (null, $sm){
                width: 165px;
                height: 165px;
                bottom: auto;
                top: 0;
                transform: translate(-19%,-4%);
            }
        }

        .price{
            position: absolute;
            right: 0;
            top: 0;
            width: 125px;
            height: 50px;
            background-color: $accent;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text-white;
            font-size: 14px;
            font-weight: 700 ;
            border-radius: 0px 30px 0px 30px;

            span{
                margin-left: .5rem;
            }

            @include media-for (null, $sm){
                top: auto;
                bottom: 0;
                font-size: 13px;
                border-radius: 30px 0px 30px 0px;
            }
        }

        h4{
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 24px;
            color: #272C49;

            // @include media-for (null, 1772px){
            //     margin-top: 1.4rem;
            // }

            @include media-for (null, $sm){
                font-size: 13px;
                margin-top: 0;
            }

        }

        .step-wrap{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            @include media-for (null, $tablet){
                justify-content: start;
            }

            @include media-for (null, $sm){
                &:first-child{
                    p{
                        color: $accent;
                    }
                }
            }

            .step{
                display: flex;
                margin-bottom: 15px;
                align-items: center;
                
                @include media-for (null, $tablet){
                    margin-right: 1.5rem;
                }

                @include media-for (null, $sm){
                    margin-bottom: 7px;
                }

                img{
                    margin-right: .5rem;
                    transition: all .2s ease-in-out;
                    @include media-for (null, $sm){
                        transform: rotate(90deg);
                    }
                }


                a{
                    display: block;
                    font-size: 16px;
                    font-family: 'Montserrat', sans-serif;
                    white-space: nowrap;
                    color: rgba($color: #000000, $alpha: .7);
                    font-weight: 500;

                    @include media-for (null, $sm){
                        font-size: 13px;
                    }

                    &:hover{
                        color: $accent;
                    }
                }
            }

            .step-active{
                img{
                    transform: rotate(0deg) !important;
                }

                a{
                    color: $accent;
                    font-weight: 600;
                }
            }
        }

        .period{
            color: rgba($color: #000000, $alpha: .5);
            font-size: 14px;
            margin-bottom: 25px;
            font-family: 'Montserrat', sans-serif;

            @include media-for (null, 1601px){
                margin-bottom: 0;
            }

            @include media-for (null, $sm){
                display: none;
            }
        }

        .partners-courses{

            @include media-for (null, $sm){
                position: absolute;
                left: 26px;
                width: 100%;
                bottom: 24px;
            }

            .row{
                width: 100%;

            }

            .parnter{
                height: 4rem;

                img{
                    height: 100%;

                    @include media-for (null, $sm){
                        width: 100%;
                        height: auto;
                    }
                }

            }

            .parnter-first{
                img{
                    width: 100%;
                    height: auto;
                    margin-top: 1rem;
                }
            }
        }


    }
}