.actual-courses-cards{
    padding: 3rem 0;

    .courses-cards{
        position: relative;
        padding: 30px 10px;
        padding-left: 192px;
        border-radius: 30px;
        background-color: $text-white;
        overflow: hidden;
        box-shadow: 0  4px 15px 0 rgba($color: #000000, $alpha: .2);
        

        .img-wrap{
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-31%,11%);
            width: 260px;
            height: 260px;
            border-radius: 100%;
            overflow: hidden;
        }

        .price{
            position: absolute;
            right: 0;
            top: 0;
            width: 125px;
            height: 50px;
            background-color: $accent;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text-white;
            font-size: 14px;
            font-weight: 700 ;
            border-radius: 0px 30px 0px 30px;
        }

        h4{
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 24px;
        }

        .step-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            .step{
                display: flex;
                img{
                    margin-right: .5rem;
                }
                p{
                    font-size: 16px;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }

        .period{
            color: rgba($color: #000000, $alpha: .5);
            font-size: 14px;
            margin-bottom: 50px;
        }

        .partners-courses{
            .parnter{
                height: 4rem;
                img{
                    height: 100%;
                }

            }

            .parnter-first{
                img{
                    width: 100%;
                    height: auto;
                    margin-top: 1rem;
                }
            }
        }


    }
}