.ask-section{
    padding: 60px 0 100px;

    @include media-for (null, $tablet){
        padding: 30px 0 50px;
    }

    @include media-for (null, $sm){
        padding: 30px 0 50px;
    }

    h3{
        color: #242C8F;
        text-align: center;
        margin-bottom: 30px;
        font-family: "KyivTypeSans", sans-serif !important;

        @include media-for (null, $sm){
            color: #272C49;
        }
    }

    ul{
        padding: 0 135px;

        @include media-for (null, $tablet){
            padding: 0 40px;
        }

        @include media-for (null, $sm){
            padding: 0;
        }

        li{
            display: flex;
            align-items: center;
            padding: 1.6rem 0;
            border-bottom: 1px solid #DCDCDC;
            transition: all .2s ease-in-out;

            h4{
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 3px;
                color: #242C8F;

                @include media-for (null, $sm){
                    color: #272C49;
                }
            }
        }

        .img-class{
            position: relative;
            display: block;
            width: 16px;
            height: 10px;
            transition: all .2s ease-in;
            margin-right: 1.6rem;
        }

        .img-class-active{
            transform: rotate(180deg);
        }

        .li-visability{
            cursor: pointer;
        }

        .togle-li{
            height: 0;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            padding-left: 50px;
            transition: all .4s ease-in;

            p{
               font-size: 14px;
               font-weight: 300;
               font-family: 'Montserrat', sans-serif;
               transition: all .2s ease-in;
                height: 0;
                opacity: 0;

               @include media-for (null, $sm){
                font-size: 13px;
            }
            }
        }

        .togle-li-active{
            transition: all .4s ease-in;
            position: relative;
            height: auto;
            opacity: 1;
            visibility: visible;

            p{
                transition: all .4s ease-in;
                height: auto;
                opacity: 1;
            }
        }
    }



    .btns-wrap-section-top{
        justify-content: end;
        padding: 0 135px;
        margin-top: 30px;

        @include media-for (null, $tablet){
            padding: 0 40px;
        }

        @include media-for (null, $sm){
            padding: 0;
            justify-content: start;
            margin-top: 0;
            margin-top: 1rem;
            
            .btn-link {
                width: auto;
                font-size: 16px;
                span{
                    display: block;
                    margin-left: 1rem;
                }
            }
        }
    }
}

.main-course-page{
    .ask-section{
        h3,h4{

            @include media-for (null, $sm){
                color: #242C8F;
            }
        }
    }
}
