.course-page-section-top {
    padding-bottom: 3rem;

    @include media-for (null, 1710px){
        background: url(../img/about-project-section-top-bg.png) 0 0/89% no-repeat,no-repeat #ffff !important;
    }

    @include media-for (null, 1590px){
        background: url(../img/about-project-section-top-bg.png) 0 0/100% no-repeat,no-repeat #ffff !important;
    }
    
    @include media-for (null, 1450){
        background: url(../img/about-project-section-top-bg.png) 100% 0/120% no-repeat,no-repeat #ffff !important;
    }

    @include media-for (null, 1370px){
        background: url(../img/about-project-section-top-bg.png) 0% 0/100% no-repeat,no-repeat #ffff!important
    }


    @include media-for (null, 1257px){
        background: url(../img/about-project-section-top-bg.png) 100% 0/126% no-repeat,no-repeat #ffff!important
    }

    @include media-for (null, 950px){
        background: url(../img/about-project-section-top-bg.png) 73% 0/145% no-repeat,no-repeat #ffff!important;
    }

    @include media-for (null, $sm){
        padding: 80px 0 0;
        background: url(../img/about-project-section-top-bg-mob.png) 0% 0%/100% no-repeat,no-repeat #ffff!important;
    }


    .btns-wrap-section-top{
        margin-bottom: 107px;

        @include media-for (null, $sm){
            margin-bottom: 20px;
        }
    }

    p{
        margin-bottom: 29px;
        font-family: 'Montserrat', sans-serif ;

        
    }

    .first-p{

        @include media-for (null, 1400px){
            margin-top: 7rem;
        }
        @include media-for (null, 1360px){
            margin-top: 2rem;
        }

        @include media-for (null, $tablet){
            margin-top: 5rem;
        }

        @include media-for (null, $sm){
           margin-top: 1rem;
        }
    }

    .period-course{
        color: $bgdark-blue;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .social-suport-btn{
        margin-top: 34px;
        border: 1px solid $accent;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 243px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 600;
        padding: 13px;
        color: $accent;

        @include media-for (null, $sm){
            display: none;
        }

        img{
            margin-right: .4rem;
        }
    }


    .img-top{

        img{
            width: 100%;

            @include media-for (null, $sm){
                width: 95%;
            }
        }
    }
}