.experts-develop{

    h3{
        text-align: center;
    }

    .card-experts{
        .img-wrap{
    
        }
        h4{
            font-size: 24px;
            font-weight: 700;
            color: #272C49;
            font-family: 'Montserrat', sans-serif !important;
        }
    
        p{
            font-size: 12px;
            font-weight: 200;
            font-family: 'Montserrat', sans-serif;
        }
    
        .social-wrap{
    
        }
    }
}