.expetrsts-section-top{
    padding-top: 130px;
    background: url(../img/about-project-section-top-bg.png) 0% 0%/76%,  $text-white;
    background-repeat: no-repeat;

    @include media-for (null, $mid-desktop){
        background: url(../img/about-project-section-top-bg.png) 0% 0%/85%,  $text-white;
        background-repeat: no-repeat;

    }

    @include media-for (null, $tablet){
        background: url(../img/about-project-section-top-bg.png) 0% 0%/130%,  $text-white;
        background-repeat: no-repeat;
    }

    @include media-for (null, $sm){
        background: url(../img/about-project-section-top-bg-mob.png) 0% 0%/100%,  $text-white;
        background-repeat: no-repeat;
        padding-top: 80px;
    }

    h1{
        margin-bottom: 40px;
    }


    .btns-wrap{
        background-color: rgba($color: #000000, $alpha: .0);
        padding: 0;
        width: auto;
        justify-content: start;
        margin-bottom: 150px;

        @include media-for (null, 1400px){
            margin-bottom: 40px;
        }

        @include media-for (null, $sm){
            margin-bottom: 40px;
        }
        .btn-link{
            background-color: rgba($color: #000000, $alpha: .0);
            color: $text-white;
            margin-right: 1rem;

            @include media-for (null, $sm){
                svg{
                    path{
                        fill: white;
                    }
               }
            }
        }
        .btn-link-active{
            background-color: $bg-yellow;
        }
    }

}
