.expetrsts-section-top{
    padding-top: 130px;
    padding-bottom: 3rem;
    background: url(../img/about-project-section-top-bg.png) 0% 0%/72%,  $text-white;
    background-repeat: no-repeat;

    h1{
        margin-bottom: 40px;
    }
}