.experts-develop{
    padding: 2rem 0;
    h3{
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
        font-family: "KyivTypeSans", sans-serif !important;

        @include media-for (null, $sm){
            margin-bottom: 30px;
            text-align: left;
        }
    }

    @include media-for (null, $tablet){
        padding-bottom: 0;
    }

    @include media-for (null, $sm){
        padding: 1rem 0 0;
    }
}

.experts-coach{
    padding: 2rem 0;
    h3{
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
        font-family: "KyivTypeSans", sans-serif !important;

        @include media-for (null, $sm){
            margin-bottom: 30px;
            text-align: left;
        }
    }

    @include media-for (null, $tablet){
        padding-bottom: 0;
    }

}


.card-experts{
    margin-bottom: 35px;

    @include media-for (null, $sm){
        margin-bottom: 25px;
    }
    
    .img-wrap{
        max-height: 305px;
        margin-bottom: 16px;
        border-radius: 30px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
        }
    }
    h4{
        font-size: 24px;
        font-weight: 700;
        color: #272C49;
        font-family: 'Montserrat', sans-serif !important;
        margin-bottom: 7px;

        @include media-for (null, $sm){
            font-size: 17px;
        }
    }

    p{
        font-size: 12px;
        font-weight: 200;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 17px;

        @include media-for (null, $sm){
            display: none;
        }
    }

    .social-wrap{

        a{
            display: flex;
            margin-right: .4rem;
        }
    }
}