.experts-develop{
    padding: 2rem 0;
   

    h3{
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
        font-family: "KyivTypeSans", sans-serif !important;

        @include media-for (null, $sm){
            margin-bottom: 30px;
            text-align: left;
        }
    }

    @include media-for (null, $tablet){
        padding-bottom: 0;
    }

    @include media-for (null, $sm){
        padding: 1rem 0 0;
    }
}

.experts-coach{
    padding: 2rem 0;

    h3{
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
        font-family: "KyivTypeSans", sans-serif !important;

        @include media-for (null, $sm){
            margin-bottom: 30px;
            text-align: left;
        }
    }

    @include media-for (null, $tablet){
        padding-bottom: 0;
    }

}


.card-experts{
    margin-bottom: 35px;

    @include media-for (null, $sm){
        margin-bottom: 25px;
    }
    
    .img-wrap{
        display: block;
        max-height: 305px;
        margin-bottom: 16px;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        padding-bottom: 80%;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h4{
        font-size: 24px;
        font-weight: 700;
        color: #272C49;
        font-family: 'Montserrat', sans-serif !important;
        margin-bottom: 7px;

        @include media-for (null, $sm){
            font-size: 17px;
        }
    }

    p{
        font-size: 14px;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 17px;

        @include media-for (null, $sm){
            display: none;
        }
    }

    .social-wrap{

        a{
            display: flex;
            margin-right: .4rem;
        }
    }
}


.expert{
    position: relative;
    padding: 160px 0 50px;
   

    &::before{
        position: absolute;
        top: 4%;
        left: -6%;
        content: "";
        width: 300px;
        height: 250px;  
        background: url(../img/bg-expert1.png) 0 0/100% no-repeat;
        z-index: -1; 

        @include media-for (null, $sm){         
            width: 150px;
            height: 100px;
            top: 5%;
        }
    }

    &::after{
        position: absolute;
        content: "";
        bottom: 0%;
        right: 0%;
        width: 400px;
        height: 200px;
        background: url(../img/bg-expert2.png) 0 0/100% no-repeat;
        z-index: -1; 

        @include media-for (null, $sm){           
            width: 160px;
            height: 80px;
        }
    }

    @include media-for (null, $sm){
        padding: 80px 0 30px;
    }

    .breadcrumbs{
        color: rgba($color: #272C49, $alpha: 1.0);
        margin-bottom: 70px;

       li{
            color: rgba($color: #272C49, $alpha: .5);
            &:before {
                background: #272C49;
            }
            a{
                color: #272C49;
            }
       }
    }

    .img-wrap{
        width: 100%;

        img{
            width: 100%;
        }
    }


    h4{
        font-size: 24px;
        color: #272C49;
        margin: 1rem 0 30px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;

        @include media-for (null, $sm){
            font-size: 13px;
            margin-bottom: 15px;
        }
    }

    .sub-title{
        color: $bgdark-blue;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
        width: 78%;
        line-height: 22.4px;

        @include media-for (null, $tablet){
            width: 100%;
        }
    }

    p{
        font-size: 14px;
        font-weight: 300;
        color: $textcolor;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
    }

    .social-wrap {
        a{
            margin-right: .5rem;
        }
    }

    .social-wrap-desc{
        display: block;

        @include media-for (null, $sm){
            display: none !important;
        }
    }

    .social-wrap-mob{
        display: none !important;

        @include media-for (null, $sm){
            display: block !important;
            margin-bottom: 15px;
        }
    }




    .grid-container {
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        gap: 25px 50px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-top: 90px;

        @include media-for (null, $tablet){
            gap: 20px 30px;
            grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));;
        }

        

        @include media-for (null, $sm){           
            gap: 10px;
            margin-top: 50px;
        }
      
        .item1 {
          grid-row: 1 / span 2;
          grid-column: 1 / span 1;

            @include media-for (null, $sm){           
                grid-row: 1 / span 1;
                grid-column: 1 / 4;
            }
        }
      
        .item2 {
          grid-row: 1 / span 1;
          grid-column: 2 / span 1;

          @include media-for (null, $sm){           
                grid-row: 2 / 3;
                grid-column: 1 / 4;
            }
        }
      
        .item3 {
          grid-row: 1 / span 2;
          grid-column: 3 / span 1;
          @include media-for (null, $sm){           
            grid-row: 3 / span 1;
            grid-column: 1 / 4;
            }
        }
      
        .item4 {
          grid-row: 3 / span 2;
          grid-column: 1 / span 1;
          @include media-for (null, $sm){           
            grid-row: 6 / span 2;
            grid-column: 1 / 4;
            }
        }
      
        .item5 {
          grid-row: 2 / span 2;
          grid-column: 2 / span 1;
          @include media-for (null, $sm){           
            grid-row: 5 / span 1;
            grid-column: 1 / 4;
            }
        }
      
        .item6 {
            grid-row: 3/span 1;
            grid-column: 3 / span 1;
            @include media-for (null, $sm){           
                grid-column: 1 / 4;
                grid-row: 4 / span 1;
            }
        }
      }

    .item{
        overflow: hidden;
        border-radius: 30px;

        @include media-for (null, $tablet){           
            border-radius: 15px;
        }

        @include media-for (null, $sm){           
            border-radius: 10px;
        }
    }

}

