.contacts{
    padding-top: 130px;
    background: url(../img/bg-contacts.png) 0% 0%/100%,  $text-white;
    background-repeat: no-repeat;
    height: 100vh;

    .breadcrumbs{
        color: rgba($color: #272C49, $alpha: 1.0);
    
        span{
            color: rgba($color: #272C49, $alpha: 1.0);

            &:last-child{
                color: rgba($color: #272C49, $alpha: .5);
            }
        }
    }

    h1{
        font-weight: 700;
        color: #272C49; 
        margin-bottom: 94px;
    }

    h4{
        font-weight: 700;
        color: #272C49;  
        font-size: 20px;
        // font-family: "KyivTypeSans", sans-serif;
    }

    p{
        color: #21150B;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
    }
}