.contacts{
    padding: 130px 0 50px;
    background: url(../img/bg-contacts.png) 100% 100%/100%,  $text-white;
    background-repeat: no-repeat;

    @include media-for (null, 1025px){
        background: $text-white;
        height: 100vh;
    }
    @include media-for (null, $sm){
        height: auto;
        padding: 80px 0 30px;
    }
    
    .breadcrumbs{
        color: rgba($color: #272C49, $alpha: 1.0);
    
        span{
            color: rgba($color: #272C49, $alpha: 1.0);

            &:last-child{
                color: rgba($color: #272C49, $alpha: .5);
            }
        }
    }

    h1{
        font-weight: 700;
        color: #272C49; 
        margin-bottom: 94px;
        font-size: 54px;

        @include media-for (null, $tablet){
            margin-bottom: 50px;
            
        }

        @include media-for (null, $sm){
            margin-bottom: 30px;
            font-size: 24px;
        }
    }

    h4{
        font-weight: 700;
        color: #272C49;  
        font-size: 20px;
     
        @include media-for (null, $sm){
            font-size: 16px;
        }


    }

    p{
        font-size: 14px;
        color: #21150B;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 7px;
    }

    .email-text{
        text-decoration: underline;
        color: $accent;
        font-weight: 700;
    }

    .btns-wrap-contacts{
        margin-bottom: 30px;
        display: flex;

        @include media-for (null, $sm){
            margin-bottom: 25px;
        }

        .copy-btn{
            margin-right: .5rem;
            cursor: pointer;
        }
    }

    form{
        display: flex;
        flex-direction: column;

        input,textarea{
            width: 100%;
            border: none;
            transition: all .2s ease-in-out;
            outline: none;
            background: none;

            @include media-for (null, $sm){
                border-radius: 16px;
            }

            &::placeholder{
                color: rgba($color: #000000, $alpha: .36);
                font-size: 14px;
                font-weight: 300;
                font-family: "KyivTypeSans", sans-serif;
            }
        }

        textarea{
            border-radius: 34px;
            resize: none;
        }

        .input-container{
            position: relative;
            margin-bottom: 17px;
            border: 1px solid #D9D9D9;
            border-radius: 25px;
            padding: 15px 20px;
            padding-left: 42px;

            &::before{
                position: absolute;
                content: '';
                width: 18px;
                height: 18px;
                background: url(../img/person.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                top: 20px;
                left: 15px;
            }
        }

        .input-container-tel{
            &::before{
                background: url(../img/call-yellow.svg);
            }
        }

        .textarea-container{
            border-radius: 34px;
            &::before{
                background: url(../img/pen.svg);
            }
        }

        .input-container-active{
            border: 1px solid $accent;
        }

    }
}