.child-population{
    color: $text-white;
    padding: 70px 0 124px;

    @include media-for (null,  $mid-desktop){
        padding: 0px 0 40px;
    }


    .child-population-wrapper{
        background: url(../img/ua-kids-bg.png);
        background-size: 61%;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        height: 600px;
        margin-bottom: 110px;

        @include media-for (null,  $mid-desktop){
            height: auto;
        }

        @include media-for (null,  $tablet){
            padding-top: 310px;
            background-size: 100%;
        }

        @include media-for (null, $sm){
            padding-top: 254px;
            margin-bottom: 35px;
        }
    }

    .bg-blue-first{
        background: url(../img/blue-bg-first.png);
        background-size: 96%;
        width: 565px;
        height: 110px;
        margin-top: 6rem;

        @include media-for (null, $mid-desktop){
            width: auto;
        }

        @include media-for (null,  $tablet){
            background-size: 74%;
        }

        @include media-for (null, $sm){
            width: auto;
            height: auto;
            margin-top: 0;
            padding-top: 15px !important;
            background-size: 96%;
        }
    }

    .bg-blue-two{
        background: url(../img/bg-two-elem.png);
        background-size: 96%;
        width: 640px;
        height: 175px;
        margin-top: -2rem;
        margin-left: 3rem;

        @include media-for (null, $mid-desktop){
            width: auto;
        }

        @include media-for (null, $sm){
            width: auto;
            height: auto;
            background: url(../img/bg-two-elem-mob.png);
            background-repeat: no-repeat;
            margin-left: 0;
            margin-top: -1.3rem;
            background-size: 100%;
        }

        .bottom{
            width: 440px;
            margin-top: 21px;
            margin-left: 40px;

            span{
                font-size: 14px;
                font-weight: 300;
                margin-left: 1rem;
                position: relative;

                &::before{
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: -.5rem;
                    width: 2px;
                    height: 2px;
                    border-radius: 100%;
                    background-color: $text-white;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .bg-blue{
        background-position: 0% 0%;
        padding: 25px 75px;
        background-repeat: no-repeat;

        @include media-for (null, $sm){
            padding: 20px 47px;
        }

        p{
            font-size: 17px;
            color: $text-white;
            font-weight: 700;
            margin: 0;

            @include media-for (null, $sm){
                font-size: 12px;
            }
        }

        h3{
            color: $text-white;
            margin: 0;

            @include media-for (null, $sm){
                font-size: 17px;
            }
        }
    }

    .prosent-block{
        margin-top: 47px;
        max-width: 500px;
        margin-left: auto;
        margin-right: 0;

        @include media-for (null, $tablet){
            max-width: 100%;
        }

        @include media-for (null, $sm){
           margin-top: 14px;
           padding: 0 2.5rem;
        }

        .mob-color{
            margin-bottom: 2rem;

            span{
                color: $textcolor;
                font-size: 10px;
                font-weight: 300;
                margin-left: 1rem;
            }
        }


        div{
            display: flex;
            align-items: center;
            color: $textcolor;
            margin-bottom: .5rem;

            .circle{
                display: block;
                padding: .7rem .5rem;
                width: 45px;
                height: 45px;
                border-radius: 100%;
                background-color: $bgdark-blue;
                color: $text-white;
                font-weight: 700;
                font-size: 16px;
                margin-right: 1.5rem;
            }

            p{
                margin: 0;
            }
        }
    }

    .btns-wrap{
        margin-top: 3rem;
        padding: 0;
        background-color: none;

        @include media-for (null, $tablet){
            margin: 2rem 0;
        }

        @include media-for (null, $sm){
            margin: 2rem 0 0;
        }
    }

    .card{
        box-shadow: 0px 1px 6px 0px #D9D9D9;
        padding: 40px 60px;
        border-radius: 25px;
        
        @include media-for (null, $mid-desktop){
            padding: 20px 25px;
        }

        @include media-for (null, $sm){
            padding: 30px 17px;
            background: url(../img/bg-dots.png);
            background-repeat: no-repeat;
            background-position: 85% -22%;
            background-size: 31%;
        }

        h3{
            margin-bottom: 30px;

            @include media-for (null, $sm){
                margin-bottom: 0;
            }
        }

        .bg-limon{
            margin-bottom: 20px;

            @include media-for (null, $sm){
                margin-bottom: 8px;
                margin-top: 25px;
            }
        }

        p{
            font-weight: 300;
            font-size: 14px;
        }


    }

    

    
}