// GENERAL PROJECT STYLES

body{
    // font-family: 'Montserrat', sans-serif;
    font-family: "KyivTypeSans", sans-serif;
    color: rgba($color: #000000, $alpha: .7);
    position: relative;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0;
    }

    svg{
        transition: all .2s ease-in-out; 
        path{
            transition: all .2s ease-in-out;  
        }
    }

    p{
        color: $textcolor;
        font-size: 14px;
        margin: 0;
 
        @include media-for (null, $sm){
            font-size: 13px;
            font-weight: 300;
        }
    }
    
    h3{
        font-size: 30px;
        font-weight: 700;
        color: $text-black;
        @include media-for (null, $sm){
            font-size: 17px;
        }
    }
    
    
    
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    button{
        outline: none;
        border: none;
        background: none;
        transition: all .2s ease-in-out;
    }
    
    a{
        color: $text-white;
        text-decoration: none !important;
        transition: all .2s ease-in-out;
        &:hover{
            color: $text-white;
        }
    }


    .btns-wrap{
        padding: 20px 40px;
        background-color: $text-white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;

        @include media-for (null, 1400px){
            background-color: rgba($color: #000000, $alpha: .0);
            padding: 0;
        }

        @include media-for (null, $sm){
           padding: 0;
           justify-content: start;
           margin-bottom: 40px;
        }
    }

    .btn-link{
        display: flex;
        align-items: center;
        justify-content: center;
        background: $text-white;
        padding: .4rem .5rem;
        border-radius: 20px;
        width: 230px;
        height: 37px;
        font-size: 16px; 
        color: $text-gray;
        white-space: nowrap;

        @include media-for (null, 1400px){
            background-color: rgba($color: #000000, $alpha: .0);
        }

        @include media-for (null, $tablet){
            width: auto;
            font-size: 14px;
        }

        @include media-for (null, $sm){
            width: 2rem;
            height: 2rem;
            padding: 0;
            margin-right: 1rem;

            span{
                display: none;
            }
            svg{
                margin-right: 0rem;
                path{
                    fill: $bg-yellow;
                }
           }
        }
        
        svg{
             margin-right: .5rem;
        }

        &:hover{
            color: $text-gray;
        }
    }

    .btn-link-active{
        background: $bg-yellow;
        color: $text-white;

        @include media-for (null, 1400px){
            background: $bg-yellow;
        }
        @include media-for (null, $sm){
            background: $bg-yellow !important;
            width: auto;
            height: 2rem;
            padding: 5px 10px;
            margin-right: 1rem;
            background: rgba($color: #000000, $alpha: .0);

            span{
                display: block;
                font-size: 14px;
            }
            svg{
                margin-right: .5rem;
                path{
                    fill: $text-white;
                }
           }
           
            
        }

        &:hover{
            color: $text-white;;
        }

        svg{
            path{
                fill: white;
            }
        }
    }


    .bg-limon{
        width: 45px;
        height: 45px;
        background: $bgdark-blue;
        border-radius:  70% 0% 70% 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-white;

        @include media-for (null, $sm){
            width: 30px;
            height: 30px;
        }
    }

    .bg-limon-rotate{
        border-radius:  0% 70% 0% 70%;

        @include media-for (null, $sm){
            border-radius:  70% 0% 70% 0%;
        }
    }


    .slides-items{
        position: relative;
        z-index: 50;

        .img-wrap{
            border-radius: 30px;
            overflow: hidden;

            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                object-position: 50% 50%;
            }
        }

        .description{
            background-color: $text-white;
            box-shadow: 0px 1px 6px 0px #0000;
            padding: 20px 21px;
            border-radius: 30px;
            margin-top: -17%;
            position: relative;
            z-index: 60;

            h4{
                font-weight: 700;
                font-size: 16px;
                color: $text-black
            }

            P{
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}


.overflow{
    overflow: hidden;
}


//modal video

.modal-video{

    .modal-content {
        border: none ;
        background-color: rgba($color: #000000, $alpha: .0);

        .close{
            position: absolute;
            right: -10%;
            top: -10%;
            width: 40px;
            height: 40px;
            cursor: pointer;
            
            @include media-for (null, $sm){
                right: -4%;
                top: -21%;
            }

            &::before{
                position: absolute;
                content: "";
                background-color: #fff;
                width: 3px;
                height: 100%;
                transform: rotate(45deg);
            }

            &::after{
                position: absolute;
                content: "";
                background-color: #fff;
                width: 3px;
                height: 100%;
                transform: rotate(135deg);
            }


        }

        
        #video-container{
            iframe{
                @include media-for (null, $sm){
                    height: 14rem !important;
                }
            }
        }

    }
   
    
}


//read more

.full_testimonial {
    position: absolute;
    text-align: left;
    font-size: 12px;
    width: 387px;
    left: 3%;
    height: 14rem;
    bottom: 60px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 6px 14px 15px -6px rgba(147, 147, 147, 0.74);
    z-index: 30;
    max-width: 100%;
    border-radius: 24px;
    overflow: hidden;
    
    .close{
        position: absolute;
        right: 10px;
        top: 5px;
        width: 22px;
        height: 22px;
        cursor: pointer;
        z-index: 40;

        &::before{
            position: absolute;
            right: 10px;
            top: 0px;
            content: "";
            background-color: black;
            width: 3px;
            height: 100%;
            transform: rotate(45deg);
        }

        &::after{
            position: absolute;
            right: 10px;
            top: 0px;
            content: "";
            background-color: black;
            width: 3px;
            height: 100%;
            transform: rotate(135deg);
        }
    }
}


.expand_testimonial{
    color: $accent;
    cursor: pointer;
    padding: 9px;
    text-align: center;
    display: block;
}



///paginaton slider

.swiper-pagination-bullet{
    background-color: #D9D9D9;
}

.swiper-pagination-bullet-active{
    background-color: $accent;
}

.swiper{
    @include media-for (null, $tablet){
       overflow: visible !important;
    }
}


//breadcrumbs

.breadcrumbs{
    color: $text-white;
    margin-bottom: 20px;
    span{
        color: $text-gray;
        &:first-child{
            color: $text-white;
        }
    }
}

//btn-more in sliders

.btn-more{
    position: absolute;
    color: $text-white;
    bottom: 32px;
    text-decoration: underline !important;
    right: 0px;
    left: auto;
    font-size: 16px;
    font-weight: 500;
    
    @include media-for (null, $mid-desktop){
        
    }

    @include media-for (null, $tablet){
        display: none;
    }
}



