header{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 70;
	transition: all .4s ease-in-out;
    padding: 20px 0;
    border-radius: 0px 0px 40px 40px;

    .logo{
        width: 68px;
        height: 74px;
        display: block;

        @include media-for (null, $sm){
            width: 38px;
            height: 40px;
        }

        img{
            width: 100%;
            height: 100%;
        }
    }
    
    nav{
        width: 80%;
        margin-right: 0;
        margin-left: auto;

        @include media-for (null, 1367px){
            width: 100%;
        }

        @include media-for (null, $tablet){
            width: auto;
            margin-right: auto;
            margin-left: 0;
        }
        
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 2rem;

            @include media-for (null, 1025px){
                margin-right: 0;
                margin-left: 2rem;
            }

            @include media-for (null, $tablet){
                margin-right: 0;
                margin-left: 1rem;
            }


            li{
                a{
                    position: relative;
                    font-size: 14px;
                    font-weight: 500;
                    display: block;
                    transition: all .2s ease-in;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;  
                    white-space: nowrap;
                    text-transform: uppercase;
                    &::after {    
                        background: none repeat scroll 0 0 transparent;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 1px;
                        left: 50%;
                        position: absolute;
                        background: #fff;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0;
                    }

                    &:hover::after { 
                        width: 100%; 
                        left: 0; 
                      }

                    @include media-for (null, $tablet){
                        margin-left: 1rem;
                    }

                    @include media-for (null, $sm){
                        margin-left: 0rem;
                    }

                    
                }

                .active-nav{
                    &::after {    
                        background: none repeat scroll 0 0 transparent;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 1px;
                        left: 0;
                        position: absolute;
                        background: #fff;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 100%;
                    }
                }
                
            }
        }
    }

    .btn-link{

        @include media-for (null, 1025px){
           display: none;
        }

        &:hover{
            background-color: $accent;
        }
    }

    .user-header{
        margin-left: 1rem;

        @include media-for (null, 1400px){
            margin-left: .5rem;
        }

        @include media-for (null, 1025px){
            margin-left: 0rem;
        }
        &:hover{
            svg{
                path{
                    fill: $yellow;
                }
            }
        }
    }


    .lang-desctop{
        // position: relative;
        padding: .0rem .3rem;
        cursor: pointer;
        border: 1px solid rgba($color: #000000, $alpha: .0);
        border-radius: 17px;
        width: 4.7rem;
        transition: all .4s ease-in-out;
        position: absolute !important;
        right: 1.5rem;
        top: 0;
        overflow: hidden;


        // @include media-for (2295px, null){
            
        //     position: relative;
        // }

        // @include media-for (2235px, null){
        //     right: 6rem;
        // }

        // @include media-for (2145px, null){
        //     right: 5rem;
        // }

        // @include media-for (2085px, null){
        //     right: 4rem;
        // }

        // @include media-for (2020px, null){
        //     right:3rem;
        // }

        // @include media-for (1970px, null){
        //     position: relative;
        //     right: 0;
        // }

        // @include media-for (1870px, null){
        //     right: 1rem;
        // }

        @include media-for (1810px, null){
            position: relative;
            right: 0;
        }

        @include media-for (1750px, null){
            position: absolute;
            right: -1rem;
        }

        @include media-for (1700px, null){
            right: -2rem;
        }
        
        @include media-for (1541px, null){
            right: -3rem;
        }

        @include media-for (null, 1545px){
            right: -4.5rem;
        }

        @include media-for (null, 1368px){
            right: 1rem;
        }

        @include media-for (null, 1335px){
            right: -1rem;
        }


        @include media-for (null, 1025px){
            right: 0rem;
        }

        @include media-for (null, $tablet){
            right: -1rem;
        }
        &:hover{
            border: 1px solid $accent;

        }

        a{
            display: block;
            padding: .2rem .3rem;
        }

        .lang-opener{
            display: none;
        }

        .lang-desctop-wrap{
            width: 70%;
            height: 2.3rem;
            .active{
                display: block;
            }

        }

        .arrow-wrap{
            width: 48%;
            transition: all .2s ease-in-out;

            @include media-for (null, $tablet){
                display: none;
            }
            
            svg{
                width: 100% !important;
                display: block;
                transition: all .2s ease-in-out;
            }
        }

        .lang-list{
            // position: absolute;
            // left: 0;
            height: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: all .4s ease-in-out;
            transform: translate(15%, 100%);
            position: relative;
            margin-right: 2rem;

            .lang-opener{
                display: block;
                width: 2rem;
                padding: 0;
            }

            .active{
                display: none;
            }
        }
    }

    .lang-desctop-active{
        height: 5rem;
        .lang-list{
            // position: absolute;
            // left: 0;
            position: relative;
            bottom: 0;
            transform: translate(15%, 100%);
            visibility: visible;
            opacity: 1;
        }

        .arrow-wrap{
            transform: rotate(180deg);
        }
    }

}



.header-fixed{
    position: fixed;
    background-color: $text-white;
    border-radius: 0px 0px 40px 40px;
    border-bottom: 1px solid $bg-gray;

    @include media-for (null, $sm){
        position: absolute;
        background-color: rgba($color: #000000, $alpha: .0);
        border-bottom: 1px solid rgba($color: #000000, $alpha: .0);
    }
    nav{
        ul{
            li{
                a{
                    color: #272C49;
                    &::after {    
                        background: #272C49;
                    }
                }
                .active-nav{
                    &::after {    
                        background: #272C49;
                    }
                }
            }
        }
    }

    .burger{
        position: fixed;
    }
}

.nav-black{
    border-radius: 0px 0px 40px 40px;
    border-bottom: 1px solid $bg-gray;
    background-color: $text-white;
    @include media-for (null, $sm){
        border-bottom: none;
    }
    nav{
        ul{
            li{
                a{
                    color: #272C49;
                    &::after {    
                        background: #272C49;
                    }
                }

                .active-nav{
                    &::after {    
                        background: #272C49;
                    }
                }
            }
        }
    }

    .btn-link-active{
        background-color: $accent !important;
        &:hover{
            background-color: $bgdark-blue !important;
        }
    }
    
}