header{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 60;
	transition: all .4s ease-in-out;
    padding: 20px 0;

    .logo{
        width: 68px;
        height: 74px;
        display: block;

        @include media-for (null, $sm){
            width: 38px;
            height: 40px;
        }

        img{
            width: 100%;
            height: 100%;
        }
    }
    
    nav{
        width: 90%;
        margin-right: 0;
        margin-left: auto;

        @include media-for (null, $tablet){
            width: auto;
            margin-right: auto;
            margin-left: 0;
        }
        
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;

            li{
                a{
                    font-size: 14px;
                    font-weight: 500;
                    display: block;
                    width: 5rem;
                    transition: all .2s ease-in;
                    text-align: center;
                    &:hover{
                        font-weight: 700;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .btn-link{

        @include media-for (null, $tablet){
           width: auto;
        }

        &:hover{
            background-color: $accent;
        }
    }

    .user{
        &:hover{
            svg{
                path{
                    fill: $yellow;
                }
            }
        }
    }

    .lang{
        position: relative;
        transition: 0.7s;
        padding: .2rem .3rem;
        cursor: pointer;
        &::before {
            content: "";
            background-color: $accent;
            width: 0;
            height: 100%;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            transition: 0.7s;
        }

        &:hover::before {
            width: 100%;
            border-radius: 5px;
        }

        &:hover{
            svg{
                path{
                    fill: #fff;
                }
            }
        }



        svg{
            transition: 0.7s;
            margin-left: .3rem;
        }
    }

}

.header-fixed{
    background-color: rgba($color: #2F37A4, $alpha: .8);
    padding: 7px 0;
    .user{
        svg{
            path{
                fill: #ffff;
            }
        }
    }
    .lang{
        svg{
            path{
                fill: #fff;
            }
        }
    }
}