.partners{
    padding: 2rem 0;

    @include media-for (null, $sm){
        padding: 1.5rem 0;
    }

    .parnter{
        height: 111px;

        @include media-for (null, $sm){
            height: auto;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


