.сommunity-strengthening{
    padding: 184px 0 200px;
    height: 950px;
    background: url(../img/сommunity-strengthening.png) 0% 100%/33%, url(../img/bg-dots-two.png) 73% 52%/44% ,  $bg-gray;
    background-repeat: no-repeat;

    h3{
        font-size: 54px;
    }

    p{
        font-weight: 300;
        font-size: 14px;
    }

    .btns-wrap{
        margin-top: 3rem;
        padding: 0;
        background-color: rgba($color: #F5F4FA, $alpha: .0);
        justify-content: start;

        .btn-link{
            background-color: rgba($color: #F5F4FA, $alpha: .0);  
            margin-right: 1rem;
        }

        .btn-link-active{
            background-color: $bg-yellow ;
        }
    }

    ul{
        li{
            display: flex;
            align-items: center;
            margin-bottom: 18px;
            
            img{
                margin-right: 1rem;
            }
        }
    }

}