.сommunity-strengthening{
    padding: 184px 0 200px;
    height: 905px;
    background: url(../img/сommunity-strengthening.png) 0 100%/40% ,url(../img/bg-comunity2.png) 04% 17%/100% , $bg-gray;
    background-repeat: no-repeat;

    @include media-for (null, $mid-desktop){
        padding: 80px 0;
        height: auto;
        background: url(../img/сommunity-strengthening.png) 0 100%/44% ,url(../img/bg-comunity2.png) 16% 100%/100%  , $bg-gray;
        background-repeat: no-repeat;
    }

    @include media-for (null, $tablet){
        padding: 20px 0;
    }

    @include media-for (null, $sm){
        padding: 40px 0 0;
        height: 862px;
        background: url(../img/сommunity-strengthening.png) 0 116%/112% ,url(../img/bg-comunity2.png) 4% 66%/100% , $bg-gray;
        background-repeat: no-repeat;
    }

    h2{
        font-size: 54px;

        @include media-for (null, $tablet){
            font-size: 27px;
        }

        @include media-for (null, $sm){
            font-size: 17px;
        }
    }

    p{
        font-weight: 300;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;

        @include media-for (null, $sm){
            font-size: 13px;
        }
    }

    .btns-wrap{
        margin-top: 3rem;
        padding: 0;
        background-color: rgba($color: #F5F4FA, $alpha: .0);
        justify-content: start;

        .btn-link{
            background-color: rgba($color: #F5F4FA, $alpha: .0);  
            margin-right: 1rem;
        }

        .btn-link-active{
            background-color: $bg-yellow ;
        }
    }

    ul{
        li{
            display: flex;
            align-items: center;
            margin-bottom: 18px;
            
            img{
                margin-right: 1rem;

                @include media-for (null, $sm){
                    width: 31px;
                    height: 31px;
                }
            }
        }
    }

}