
@use 'sass:math';
@use 'sass:color';

@import 'config';
@import 'media';
@import 'general';

@import 'burger';
@import 'menu-mob';
@import 'custom-select-language';
@import 'header';


//include main

@import 'section-top';
@import 'child-population';
@import 'we-believe';
@import '—Åommunity-strengthening';
@import 'why_us';
@import 'statistics';
@import 'reviews-section';
@import 'news-section';   
@import 'blog-section';
@import 'partners';
@import 'widget-btns';



//include about-project

@import 'include-about-project/_include-about-project.scss';
@import 'include-about-project/_map-section.scss';


//include expetrsts

@import 'includes-for-expetrs/_expetrs-section-top';




@import 'footer';







