.news,.blogs{
    padding: 130px 0 50px;

    @include media-for (null, $sm){
        padding: 80px 0 30px;
    }

    .breadcrumbs{
        color: rgba($color: #272C49, $alpha: 1.0);

       li{
            color: rgba($color: #272C49, $alpha: .5);
            &:before {
                background: #272C49;
            }
            a{
                color: #272C49;
            }
       }
    }


    .slides-items{
        .img-wrap{
            @include media-for (null, $sm){
                height: 164px;
                display: block;
            }
        }
    }

    .blogs-blocks{
        margin-bottom: 50px;
        z-index: 1;
        pointer-events: none;
        @include media-for (null, $sm){
            margin-bottom: 23px;
        }
        .title{
            a{
                font-size: 24px;
                color: #272C49;
                font-weight: 700;
                display: block;
                height: 2.3rem;
                overflow: hidden; 
                font-family: 'Montserrat', sans-serif;
                pointer-events: auto;
                
                @include media-for (null, $sm){
                    font-size: 13px;
                    height: 1.5rem;
                }
            }
        }

        P{
           height: 4rem;
           overflow: hidden; 
           position: relative;
           &::before{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg,rgba(249, 255, 254, 0), rgb(255, 255, 255));
            }

            @include media-for (null, $sm){
                display: none;
            }
            
        }
    }


    .news-blocks{
        position: relative;
        display: block;
        font-family: 'Montserrat', sans-serif;
        margin: 0 5px;
        margin-bottom: 33px;

        @include media-for (null, $tablet){
            margin: 0;
            margin-bottom: 33px;
        }

        .data-span{
            display: block;
            position: absolute;
            width: 145px;
            padding: .2rem 1rem;
            color: $text-white;
            background-color: #272C49;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);   
            border-radius: 0 0 20px 20px;
            text-align: center;
            font-size: 12px;
    
            @include media-for (null, $sm){
                width: auto;
                font-size: 10px;
                transform: translate(70%, 0);
                top: .5px;
                left: 20%; 
            }
        }

        h4{
            height: 1.2rem;
            overflow: hidden;
            margin-top: 0;
            @include media-for (null, $sm){
                height: 2.2rem;
                margin: 0;
            }
        }

        P{
            margin-top: .5rem;
            display: block !important;

            @include media-for (null, $sm){
                height: 2rem;
                overflow: hidden;
            }
        }

    }

    h1{
        font-size: 54px;
        color: #272C49;
        font-family: "KyivTypeSans", sans-serif;
        margin-bottom: 55px;

        @include media-for (null, $sm){
            font-size: 24px;
            margin-bottom: 25px;
        }
    }
}