.child-population{
    color: $text-white;
    padding: 70px 0;

    @include media-for (null,  $mid-desktop){
        padding: 0px 0 40px;
    }

    @include media-for (null, $sm){
        padding: 0px 0 20px;
    }

    h3{
        font-family: "KyivTypeSans", sans-serif !important;
    }

    .child-population-wrapper{
        background: url(../img/ua-kid-bg.png);
        background-size: 57%;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        

        @include media-for (null,  $mid-desktop){
            height: auto;
        }

        @include media-for (null, 1000px){
            padding-top: 310px;
            background-size: 100%;
        }

        @include media-for (null, $sm){
            padding-top: 254px;
            margin-bottom: 35px;
        }
    }

    .bg-blue-first{
        background: url(../img/blue-bg-first.png);
        background-size: 96%;
        width: 565px;
        height: 110px;
        margin-top: 6rem;

        @include media-for (null, $mid-desktop){
            width: auto;
        }

        @include media-for (null,  1000px){
            background-size: 68%;
        }

        @include media-for (null,  $tablet){
            background-size: 74%;
        }

        @include media-for (null, $sm){
            width: auto;
            height: auto;
            margin-top: 0;
            padding-top: 15px !important;
            background-size: 96%;
        }
    }

    .bg-blue-two{
        background: url(../img/bg-two-elem.png);
        background-size: 96%;
        width: 640px;
        height: 175px;
        margin-top: -2rem;
        margin-left: 3rem;

        @include media-for (null, $mid-desktop){
            width: auto;
        }

        @include media-for (null, 1025px){
            margin-left: 0rem;
            padding-left: 3rem !important;
        }

        @include media-for (null,  1000px){
            background-size: 87%;
        }

        @include media-for (null,  $tablet){
            padding-top: 2rem;
        }

        @include media-for (null, $sm){
            width: auto;
            height: auto;
            background: url(../img/bg-two-elem-mob.png);
            background-repeat: no-repeat;
            margin-left: 0;
            margin-top: -1.3rem;
            background-size: 100%;
        }

        .bottom{
            width: 440px;
            margin-top: 21px;
            margin-left: 40px;

            @include media-for (null, $tablet){
               margin-top: 9px;
            }


            span{
                font-size: 14px;
                font-weight: 300;
                margin-left: 1rem;
                position: relative;

                &::before{
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: -.5rem;
                    width: 2px;
                    height: 2px;
                    border-radius: 100%;
                    background-color: $text-white;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .bg-blue{
        background-position: 0% 0%;
        padding: 25px 75px;
        background-repeat: no-repeat;

        @include media-for (null, 1025px){
            padding: 0px;
            padding-left: 2rem;
            padding-top: 15px;
        }

        @include media-for (null, $sm){
            padding: 20px 47px;
        }

        p{
            font-size: 17px;
            color: $text-white;
            font-weight: 700;
            margin: 0;
            font-family: 'Montserrat', sans-serif;

            @include media-for (null, 1025px){
                font-size: 15px;
            }

            @include media-for (null, $sm){
                font-size: 12px;
            }
        }

        h3{
            color: $text-white;
            margin: 0;

            @include media-for (null, $sm){
                font-size: 17px;
            }
        }
    }

    .prosent-block{
        margin: auto;
        margin-top: 25px;
        max-width: 500px;

        @include media-for (null, 1800px){
            margin: auto;
            margin-top: 25px;
            margin-right: 4rem;
        }

        @include media-for (null, 1700px){
            margin: auto;
            margin-top: 25px;
            margin-right: 0rem;
        }

        @include media-for (null, 1025px){
            max-width: 100%;
        }

        @include media-for (null, $sm){
           margin-top: 14px;
           padding: 0 2.5rem;
        }

        .mob-color{
            margin-bottom: 2rem;

            span{
                color: $textcolor;
                font-size: 10px;
                font-weight: 300;
                margin-left: 1rem;
                font-family: 'Montserrat', sans-serif;
            }
        }


        div{
            display: flex;
            align-items: center;
            color: $textcolor;
            margin-bottom: .5rem;

            .circle{
                display: block;
                padding: .7rem .5rem;
                width: 45px;
                height: 45px;
                border-radius: 100%;
                background-color: $bgdark-blue;
                color: $text-white;
                font-weight: 700;
                font-size: 16px;
                margin-right: 1rem;
            }

            p{
                margin: 0;
            }
        }
    }



    .down-column{
        margin-top: 300px;
        text-align: center;

        @include media-for (null,  $mid-desktop){
            margin-top: 150px;
        }

        @include media-for (null, 1025px){
            margin-top: 50px;
        }

        @include media-for (null, $sm){
            margin-top: 25px;
        }

        h2{
            margin-bottom: 15px;
            color: #272C49; 
        }
        
        p{
           color: #272C49; 
           font-size: 16px;
           font-family: 'Montserrat', sans-serif;

           @include media-for (null, $sm){
                font-size: 13px;
            }
        }
    }
    
   .prosent-block-mob{
        display: none;

        @include media-for (null, 1025px){
            display: block;
            margin: 0;
            margin-top: 3rem;
        }
   } 

   .prosent-block-desct{
        display: block;

        @include media-for (null, 1025px){
            display: none;
        }
   }
}