.news-section{
    position: relative;
    padding: 0 0 4rem;
    overflow: hidden;

    @include media-for (null, $mid-desktop){
        padding: 0 0 2rem;
    }

    .container{
        padding-right: 0;

        @include media-for (null, $desktop){
            padding: 0 50px;
        }

        @include media-for (null, $sm){
            padding: 0 15px;
        }
    }


    @include media-for (null, $sm){
        padding: 30px 0 40px;
    }

    .btn-more{
        color: $bg-yellow;
    }

    h3{
        text-align: center;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-family: "KyivTypeSans", sans-serif !important;
    }

    .swiper{
        padding: 1rem .2rem 5rem;

        @include media-for (null, $sm){
            padding: 1rem .2rem 38px;
        }
    }

    .swiper-pagination{
        bottom: 0rem;
    }

    .news-blocks{
        position: relative;
        display: block;
        font-family: 'Montserrat', sans-serif;

        .data-span{
            display: block;
            position: absolute;
            width: 145px;
            padding: .2rem 1rem;
            color: $text-white;
            background-color: #272C49;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);   
            border-radius: 0 0 20px 20px;
            text-align: center;
            font-size: 12px;
    
            @include media-for (null, $sm){
                width: auto;
                font-size: 10px;
                transform: translate(70%, 0);
                top: .5px;
                left: 0%; 
            }
        }
    }


    .swiper-slide{
        box-shadow:  0  4px 15px 0 rgba($color: #000000, $alpha: .03);
        border-radius: 30px;

        h4{
            height: 1.2rem;
            overflow: hidden;

            @include media-for (null, $sm){
                height: 2.5rem;
                margin: 0;
            }
        }

        p{
            height: 2.7rem;
            overflow: hidden;
        }
    
    }





}