.reviews-section{
    padding: 48px 0 80px;

    @include media-for (null, $tablet){
        padding: 1rem 0 0;
        overflow: hidden;
    }

    h3{
        text-align: center;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-family: "KyivTypeSans", sans-serif !important;
    }

    .swiper{
        padding: 1rem 0 3rem;
    }


    .swiper-slide{
        box-shadow:  0  4px 15px 0 rgba($color: #000000, $alpha: .2);
        border-radius: 25px;

        @include media-for (null, $tablet){
            overflow: hidden;          
        }

        .review-blocks{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 237px;

            @include media-for (null, $tablet){
                flex-direction: column-reverse;
                padding-bottom: 220px;
                padding-left: 0;
            }

            @include media-for (null, $sm){
                padding-bottom: 163px;
            }
        

            span{
                display: block;
                margin: 22px 0 22px;

                @include media-for (null, $tablet){
                    width: 30px;
                    height: 30px;
                    display: flex;

                    img{
                        width: 100%;
                    }
                    
                }
            }

            p{
                font-size: 14px;
                font-weight: 300;
                margin: 40px 0 50px;
                font-family: 'Montserrat', sans-serif;
                // height: 5rem;
                overflow: hidden;

                @include media-for (null, $tablet){
                    margin-bottom: 16px;
                    font-size: 13px;
                }
            }

            small{
                display: none;
            }

            h4{
                color: #272C49;
                font-size: 24px;

                @include media-for (null, $sm){
                    font-size: 13px;
                }
            }

            h5{
                font-size: 14px;
                margin-bottom: 56px;
                color: #969696;

                @include media-for (null, $tablet){
                    margin-bottom: 16px;
                    
                }

                @include media-for (null, $sm){
                    font-size: 13px;
                }
            }

            .img-wrap{
                height: 100%;
                width: 241px;
                border-radius: 10% 50% 50% 10%;
                overflow: hidden;
                position: absolute;
                transform: translateX(-100%);

                @include media-for (null, $tablet){
                    height: 241px;
                    width: 100%;
                    border-radius: 50% 50% 10% 10%;
                    overflow: hidden;
                    position: absolute;
                    transform: translate(0%, 100%);
                }

                // @include media-for (null, $sm){
                //     width: 241px;
                // }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }

            .col-right{
                width: 90%;
                padding-left: 1rem;

                @include media-for (null, $tablet){
                    padding: 0;
                    width: 90%;
                    
                }
            }
        }

    }


}