.section-top{
    height: 895px;
    background: url(../img/bg-section-top2.png);
    background-size: 84%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    padding-top: 188px;
    color: $text-white;


    @include media-for (null, $mid-desktop){
        background-size: 89%;
        padding-bottom: 3rem;
    }

    @include media-for (null, 1000px){
        height: auto;
    }

    @include media-for (null, $tablet){
        padding-top: 105px;
        background-size: 121%;
    }


    @include media-for (null, $sm){
        background: url(../img/bg-secton-top-mobile.png);
        background-repeat: no-repeat;
        height: auto;
        padding-top: 105px;
        background-size: 100%;
    }


    p{
        color: $text-white; 
        margin-bottom: 35px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;

        @include media-for (null, $sm){
            margin-bottom: 18px;
        }
    }

    strong{
        font-weight: 700;
    }

    .bg-blue{
        margin-bottom: 20px;
        background: $accent;
        background-repeat: no-repeat;
        width: 377px;
        height: 42px;
        padding: 0.8rem 1rem;
        font-size: 12px;
        text-align: center;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        border-radius: 20px;
        
        @include media-for (null, $tablet){
            width: 100%;
            margin-bottom: 10px;
        }


        @include media-for (null, $sm){
            position: absolute;
            left: 0;
            text-align: left;
        }
    }

    h1{
        @include media-for (null, $sm){
            margin-top: 4rem;
        }
    }

    .img-top{
        position: relative;

        img{
            width: 100%;
        }

        .btn-play{
            position: absolute;
            left: 4%;
            top: 13%;
            width: 90px;
            height: 90px;
            cursor: pointer;

            @include media-for (null, $tablet){
                left: -19px;
            }
            
            @include media-for (null, $sm){
                left: 3%;
                top: 10%;
                width: 70px;
                height: 70px;
            }

            img{
             width: 100%;
            }
        }
    }

    .btns-wrap{
        width: 700px;

        @include media-for (null, 1530px){
            padding: 8px 10px;
        }

        @include media-for (null, 1400px){
            width: auto;
        }

        @include media-for (null, 1348px){
            background-color: rgba($color: #000000, $alpha: .0);
            justify-content: start;
        }
    }

    .btn-link{

        @include media-for (null, 1348px){
            background-color: rgba($color: #000000, $alpha: .0);
            color: $text-white;

            &:last-child{
                display: none;
            }
        }

        @include media-for (null, $tablet){
            &:last-child{
                display: block;
            }
        }

        @include media-for (null, $sm){
            svg{
                path{
                    fill: white;
                }
           }
        }
    }


}

