.statistics{
    padding: 3rem 0;

    @include media-for (null, $sm){
        padding: 1.5rem 0;
    }

    .statistics-card{
        color: $accent;
        padding: 0 4.3rem; 
        font-weight: 700;
        border-right: 1px solid #D9D9D9;
        height: 130px;

        @include media-for (null, 1640px){
            padding: 0 2.5rem;
        }

        @include media-for (null, 1313px){
            padding: 0 2rem;
        }

        

        @include media-for (null, $sm){
            border: none;
            padding: 0 1rem;
        }


        .numb{
            font-size: 60px;
            text-shadow: 3px 0px 0px $green-shadow;

            @include media-for (null, $tablet){
                font-size: 40px;
                line-height: 1.1;
            }
        }

        .text{
            font-size: 17px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;

            @include media-for (null, $sm){
                font-size: 13px;
            }
        }
    }
    .statistics-card-last{
        border-right: none;

    }
}