.we-believe{
    padding: 100px 0 110px;
    background: url(../img/we-believe-bg.png), $accent;
    background-size: 97%;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    color: $text-white;

    @include media-for (null, $tablet){
        padding: 50px 0;
        background:  $accent;
        background-size: 132%;
        background-position: 112% 0%;
        background-repeat: no-repeat;
    }

    @include media-for (null, $sm){
        padding: 40px 0 10px;
        background: $accent;
        background-size: 143%;
        background-position: 92% 0%;
        background-repeat: no-repeat;
    }


    .bg-limon{
        font-size: 30px !important;
        font-weight: 700;
        background-color: $text-white;
        color: $accent;

        @include media-for (null, $sm){
            font-size: 20px !important;
        }
    }

    .items{
        @include media-for (null, $sm){
            margin-bottom: 30px;
        }

        .bg-limon{
            display: flex;
            width: 87px;
            height: 87px;
            font-size: 46px !important;
            margin-right: 1rem;

            @include media-for (null, $sm){
                width: 50px;
                height: 50px;
                font-size: 35px !important;
            }
        }
        p{
            color: $text-white;
            width: 80%;
            font-weight: 300;
            font-family: 'Montserrat', sans-serif;
        }
    }

    h3{
        color: $text-white;
        font-family: 'Montserrat', sans-serif;
        @include media-for (null, $tablet){
            margin-bottom: 30px;
        }
    }
}