.why_us{
    height: 704px;
    padding: 75px 0 90px;
    background: url(../img/why-choose-us.png) 0% 100%/33%, $accent;
    background-size: 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;

    @include media-for (null, 991px){
        height: auto;

    }

    @include media-for (null, $tablet){
        height: auto;
        padding: 2rem 0;
        background: url(../img/why-choose-us.png) 100% 100%/159% , $accent;
        background-repeat: no-repeat;
     }

    @include media-for (null, $sm){
       padding: 50px 0 60px;
       background: url(../img/bg-whu-us-mb.png) 0% 100%/100%, $accent;
       background-repeat: no-repeat;
       background-position: 0% 0%;
    }

    h3{
        color: $text-white;
        margin-bottom: 3rem;
        font-family: "KyivTypeSans", sans-serif !important;  
        text-transform: uppercase;
        
        @include media-for (null, $sm){
            margin-bottom: 15px;
        }
    }

    h4{
        font-size: 24px;
        font-weight: 700;
        color: $text-white;

        @include media-for (null, $sm){
            font-size: 14px;
        }
    }

    p{
        font-size: 14px;
        color: $text-white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;

        @include media-for (null, $sm){
            font-size: 13px;
        }
    }

    ul{
        li{
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
            min-height: 8rem;

            @include media-for (null, $tablet){
                margin-bottom: 24px;
                min-height: auto;
                
            }

            div{
                width: 89%;
                margin-left: 1.2rem;

                @include media-for (null, $sm){
                    margin-left: .5rem;
                }
            }
        }
    }

    .bg-limon{
        width: 65px;
        height: 65px;
        
        @include media-for (null, $sm){
            width: 35px;
            height: 35px;
            img{
                width: 60%;
            }
        }
    }

}